[package]
name = "wait"
version = "2.7.3"
authors = ["ufoscout <ufoscout@gmail.com>"]
edition = "2018"

[dependencies]
port_check = "0.1.5"

[dev-dependencies]
atomic-counter = "1.0"
lazy_static = "1.4"
time = "0.2.18"

[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
codegen-units = 1
panic = 'abort'
